/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #0e0e0e;
  color: white;
  font-size: 18px;
  text-align: center;
} 
header {
  background-color: #0d009c;
  color: #F7D400;
  padding: 15px;
}
a {
  color: #0d009c;
}
a:hover {
  color: #ff0000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img{
  height: 60px;
  width: 90px;
}
.nav-links {
  list-style-type: none;
  display: flex;
}
.nav-links li {
  margin-left: 20px;
}
.nav-links a {
  color: #F7D400;
  text-decoration: none;
  font-size: 20px;
}  
.nav-links a:hover, .nav-links .active {
  border-bottom: 4px solid #F7D400;
  color: #ff0000;
} 
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
}
main {
  padding: 20px;
}
footer {
  background-color: #0d009c;
  color: #F7D400;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
  position: fixed;
} 
footer p {
  font-size: 14px;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 5px 0;
}



/*INDEX*/
.info-club{
  text-align: center;
  background-image: url(imgbarca/img-fondo-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.info-club h1{
  font-size: 50px;
  color: #F7D400;
}
.info-club p{
  color: white;
  font-size: 22px;
  max-width: 1150px;  
  margin: 0 auto;     
  line-height: 1.6;   
}
.info-club img{
  height: 300px;
  width: 650px;
  box-shadow: 0 0 22px rgb(255, 255, 255);
}
.competencias{
  text-align: center;
  background-image: url(imgbarca/img-fondo-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.competencias img{
  height: 200px;
  width: 200px;
  box-shadow: 0 0 5px rgb(255, 255, 0);
  border-radius: 10%;
}
.competencias h2{
  font-size: 45px;
  color: #ff0000;
}
.competencias p{
  color: white;
  max-width: 800px;  
  margin: 0 auto;     
  line-height: 1.6;
  font-size: 20px;
}



/*PLANTILLA*/
.main-jugadores h2{
  color: #ff0000;
  font-size: 40px;
}
.main-jugadores h1{
  color: #F7D400;
  font-size: 45px;
}
.main-jugadores{
  background-image: url(imgbarca/img-fondo-11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.jugadores-grid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  margin-top: 20px;
} 
.jugador {
  background: -webkit-linear-gradient(313deg, #ff0000,#000000,#0d009c);
  background: linear-gradient(313deg, #ff0000,#000000,#0d009c);
  border: 10px solid #000000; 
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0 0 15px rgb(255, 255, 255);
}
.jugador img{
  border: 2px solid #000000; 
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.jugador h2{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #626365;
}
.jugador h2 b{
  font-size: 30px;
  color: white;
}
#buscador {
  display: block;
  margin: 30px auto; /* Centrado horizontal */
  padding: 12px 20px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
  border: 5px solid #da291c;
  border-radius: 10px;
  background-color: #F7D400;
  color: #333;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 2);
  transition: border-color 0.3s, box-shadow 0.3s;
}
#buscador:focus {
  outline: none;
  border-color: #da291c; /* rojo Barça */
  box-shadow: 0 0 10px rgba(218, 41, 28, 0.4);
}



/*NOVEDADES*/
.fondo-novedades{
  text-align: center;
  background-image: url(imgbarca/img-fondo-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.novedades-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #ff0000;
  padding: 0 20px;
}
.novedades-contenido {
  display: flex;
  align-items: center;
  gap: 20px; 
  text-align: center;
}
.novedades-texto {
  font-weight: bold;
  font-size: 45px;
  margin: 0;
  color: #0d009c;
}
.img-novedades {
  height: 50px;
  width: auto;
}
.noticias {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.noticia {
  max-width: 800px;
  background: -webkit-linear-gradient(313deg, #ff0000,#000000,#0d009c);
  background: linear-gradient(313deg, #ff0000,#000000,#0d009c);
  color: white;
  border-radius: 16px;
  border: 5px solid #000000; 
  box-shadow: 0 0 15px rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.noticia p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

.img-noticia {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}



/*PARTIDOS*/
.partidos li{
  color: white ;
  font-size: 30px;
}
.partidos-main h1{
  font-size: 50px;
  color: #F7D400;
}
.partidos-main h2{
  font-size: 46px;
  color:#ff0000;
}
.partidos-main{
background: -webkit-linear-gradient(313deg, #ff0000,#000000,#0d009c);
background: linear-gradient(313deg, #ff0000,#000000,#0d009c);   
}
.escudo-mini {
  width: 50px;
  height: 40px;
  vertical-align: middle;
  margin: 0 6px;
}
.partidos li{
  color: #626365;
}
.partidos li b{
  color: white;
}


/*CONTACTO*/
.fondo-contacto{
  text-align: center;
  background-image: url(imgbarca/img-fondo-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.formulario{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  background-color: #ffffffa5;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(56, 131, 243, 0.847);
  border-radius: 20px;
  text-align: center;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.input-group{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.h2-contacto{
  color: #000;
  font-size: 45px;
}

.label-contacto{
  color: #000;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 15px;
}
.input-contacto, .textarea-contacto, .btn{
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #f7d2009c;
  border: 3px solid #0d009c;
  color: #000000;
  outline: none;
  font-weight: 500;
}
input::placeholder, textarea::placeholder{
  color: #0d009c;
  font-weight:600;
}
.btn{
  font-size: 16px;
  font-weight: 900;
  color: #000;
  border: 0;
  border-radius: 25px;
  background-color: #ff0000;
  box-shadow: 0 0 20px rgb(2, 4, 117);
  cursor: pointer;
}
.btn:hover{
  background-color: #0d009c;
  transition: 1s;
}



@media (max-width: 768px) {
  .formulario {
    padding: 20px;
    align-items: flex-start;
  }
  form {
    width: 100%;
    padding: 30px 20px;
    margin: 30px auto;
  }
  .h2-contacto {
    font-size: 32px;
  }
  .label-contacto {
    font-size: 14px;
  }
  .input-contacto, .textarea-contacto, .btn {
    padding: 14px 20px;
    font-size: 14px;
  }
  .btn {
    font-size: 15px;
  }



  .navbar {
      flex-direction:column;
      align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .nav-links li {
    margin-left: 0;
    text-align: center;
  }
  .nav-links a {
    font-size: 18px;
    padding: 4px 0;
    display: block;
  }
  .menu-toggle {
    display:block;
    align-self: self-end;
  }
  .nav-links.active {
    display: block;
  }
  .nav-links.show {
    display: flex;
  }
  .jugadores-grid{
    grid-template-columns: 1fr;
  }
  .info-club img{
    width: 100%;
    height: 50%;
  }
  .info-club p{
    font-size: 15px;
  }  
  .competencias img{
  height: 100px;
  width: 100px;
  }
  .competencias p{
  max-width: 90%;  
  font-size: 15px;
  }
  .partidos-main h1 {
    font-size: 30px;
    text-align: center;
  }
  .partidos h2 {
    font-size: 30px;
    text-align: center;
  }
  .partidos li {
    font-size: 20px;
    line-height: 1.2;
    word-wrap: break-word;
    padding: 8px 0;
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .escudo-mini {
    width: 40px;
    height: 30px;
    margin: 0 4px;
  }
  main {
    padding: 10px;
  }

  footer {
    font-size: 12px;
    padding: 8px;
    position: fixed;
  }
  ul {
    padding-left: 10px;
  }

  .novedades-h1 {
    height: auto;
    padding: 20px 10px;
  }

  .novedades-contenido {
    flex-direction:row;
    gap: 5px;
  }

  .novedades-texto {
    font-size: 32px;
  }

  .img-novedades {
    height: 40px;
  }
  .noticia p {
    font-size: 15px;
  }
}