/* Reset para márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.info-club{
    text-align: center;
}
.info-club h1{
    font-size: 50px;
    color: #003366;
}
.info-club p{
    color: white;
    font-size: 20px;
}

.jugadores-grid{
  text-align: center;
}

  body {
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
  color: #333;
    
  }
  
  header {
    background-color: #003366;
  color: #F7D400;
    padding: 15px;
  }
  
  a {
    color: #003366;
  }
  
  a:hover {
    color: #A50021;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar img{
    height: 50px;
    width: 70px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #F7D400;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover, .nav-links .active {
    border-bottom: 3px solid #F7D400;
    color: #A50021;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
  }

  .competencias{
    text-align: center;
}
.competencias img{
    height: 50px;
    width: 50px;
}
.competencias h2{
    font-size: 35px;
    color: #A50021;
}
.competencias h3{
    color: white;
}
.competencias p{
    color: white;
}

  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  main h1{
    text-align: center;
    color: #F7D400;
  }
main h2{
  color: #A50021;
}

  .main-jugadores h2{
    color: #ff0000;
  }

  h1, h2 {
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #003366;
    color: #F7D400;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    font-size: 14px;
  }
  
  /* Estilos específicos para cada sección */
  .jugadores-grid, .trofeos-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px;
  }
  
  .jugador, .trofeo {
    background-color: #FFFFFF; 
    border: 5px solid #003366; 
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(255, 225, 0);
  }
  
  .jugador img, .trofeo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .jugador h2{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  color: #626365;
  }
  .jugador h2 b{
    font-size: 20px;
    color: #003366;
  }
  
  .trofeo h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  color: #003366;
  }

  ul {
    list-style-type: none;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  /* Estilos para el responsive (para pantallas pequeñas) */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      width: 100%;
    }
  
    .nav-links li {
      margin-left: 0;
      text-align: center;
      margin-top: 10px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .nav-links.active {
      display: block;
    }
  
    .jugadores-grid, .trofeos-grid {
      grid-template-columns: 1fr;
    }
  }
  